html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

.body {
    font-family: 'Lora', serif;
    text-align: center;
    background-image: url("../images/pieniadze.png");
    background-position: top;
}