html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

.body {
    font-family: 'Lora', serif;
    text-align: center;
    background-image: url("../images/pieniadze.png");
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
}